In [10]:
import pandas as pd
weather_data={
    'day':['1/1/2016','1/2/2016','1/4/2016','1/5/2016','1/6/2016'],
    'temp':['38','36','40','25','20'],
    'event':['Rain','Rain','Sunny','Snow','Hot']
}

df= pd.DataFrame(weather_data)
df

        day temp  event
0  1/1/2016   38   Rain
1  1/2/2016   36   Rain
2  1/4/2016   40  Sunny
3  1/5/2016   25   Snow
4  1/6/2016   20    Hot

In [12]:
rows,columns=df.shape

In [13]:
columns,rows

(3, 5)

In [14]:
df.head()

        day temp  event
0  1/1/2016   38   Rain
1  1/2/2016   36   Rain
2  1/4/2016   40  Sunny
3  1/5/2016   25   Snow
4  1/6/2016   20    Hot

In [17]:
df.head(2)

        day temp event
0  1/1/2016   38  Rain
1  1/2/2016   36  Rain

In [22]:
df.head(1)

        day temp event
0  1/1/2016   38  Rain

In [23]:
df[2:4]

        day temp  event
2  1/4/2016   40  Sunny
3  1/5/2016   25   Snow

In [29]:
df.day

0    1/1/2016
1    1/2/2016
2    1/4/2016
3    1/5/2016
4    1/6/2016
Name: day, dtype: object

In [34]:
df[['event','day']]

   event       day
0   Rain  1/1/2016
1   Rain  1/2/2016
2  Sunny  1/4/2016
3   Snow  1/5/2016
4    Hot  1/6/2016

In [36]:
df['temp'].max()

'40'

In [38]:
df['temp'][df['day']=='1/1/2016']

0    38
Name: temp, dtype: object

In [40]:
df.describe()

             day temp event
count          5    5     5
unique         5    5     4
top     1/4/2016   20  Rain
freq           1    1     2

In [43]:
df[df.temp==df['temp'].max()]

        day temp  event
2  1/4/2016   40  Sunny

In [44]:
df.loc['1/4/2016']

KeyError: '1/4/2016'