In [16]:
import pandas as pd
d={'Name':['bilal','ahsan','asil'],
   'Subject':['english','urdu','pst'],
   'Score':[100,200,400]}

df=pd.DataFrame(d)
print (df)

    Name  Subject  Score
0  bilal  english    100
1  ahsan     urdu    200
2   asil      pst    400

In [18]:
df.shape

(3, 3)

In [22]:
rows,columns=df.shape
print ("rows:")
print(rows)
print("columns:")
print (columns)

rows:
3
columns:
3

In [24]:
df.head()

    Name  Subject  Score
0  bilal  english    100
1  ahsan     urdu    200
2   asil      pst    400

In [25]:
df.head(2)

    Name  Subject  Score
0  bilal  english    100
1  ahsan     urdu    200

In [26]:
df.tail(1)

   Name Subject  Score
2  asil     pst    400

In [27]:
df.tail()

    Name  Subject  Score
0  bilal  english    100
1  ahsan     urdu    200
2   asil      pst    400

In [29]:
df[2:3]

   Name Subject  Score
2  asil     pst    400

In [30]:
df

    Name  Subject  Score
0  bilal  english    100
1  ahsan     urdu    200
2   asil      pst    400

In [31]:
df.columns

Index(['Name', 'Subject', 'Score'], dtype='object')

In [32]:
df.Name[1]

'ahsan'

In [33]:
df.Name

0    bilal
1    ahsan
2     asil
Name: Name, dtype: object

In [36]:
df.Name=="ahsan"
#df.replace="bk"

In [38]:
df['Score'].max()

400

In [40]:
df.describe()

            Score
count    3.000000
mean   233.333333
std    152.752523
min    100.000000
25%    150.000000
50%    200.000000
75%    300.000000
max    400.000000

In [45]:
df[df.Score>200]

   Name Subject  Score
2  asil     pst    400

In [46]:
df["Name"][df.Score>200]

2    asil
Name: Name, dtype: object

In [48]:
df.loc('asil')

ValueError: No axis named asil for object type <class 'pandas.core.frame.DataFrame'>

In [58]:
df.set_index("Name" , inplace=True)

KeyError: 'Name'

In [59]:
df

       Subject  Score
Name
bilal  english    100
ahsan     urdu    200
asil       pst    400

In [65]:
df.Name["ahsan"]

AttributeError: 'DataFrame' object has no attribute 'Name'

In [66]:
df.reset_index(inplace=True)

In [67]:
df

    Name  Subject  Score
0  bilal  english    100
1  ahsan     urdu    200
2   asil      pst    400